@font-face
{
    font-family: CircularMedium;
    src: url(font/CircularStd-Medium.otf); 
}

body
{
    margin: 0px;
    padding: 0px;
    height: 600px;
    font-family: CircularMedium;
}

.navbar
{
    border-bottom: 2px solid black;
}

.nav-link{
    color: black;
}

.nav-link:hover
{
    color: #4005ab;     
}

.logo1
{
    width: 180px;
    height: 100%;
}

.text1
{
    font-size: 42pt;
    letter-spacing: 3px;
    word-spacing: 2px;
}

.line{
    height: 5px;
}

.footer-container
{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.btn1
{
    border-radius: 20px;
    letter-spacing: 1.2pt;
    font-size: 14pt;
    color: #4005ab;
    border-color: #4005ab;
    border-width: 1.5px;
    width: 150px;
}

.btn1:hover
{
    background-color: #4005ab;
    border-color: #4005ab;
    color: white;
}

.nav-item
{
    padding: 10px 10px 0px 10px;
}

.logo
{
    width: 100px;
    height: 100%;
}

.containerbook{
    height: 850px;
}

.book-form{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.booking-text
{
    letter-spacing: 4px;
    font-weight: 600;
    margin: 40px 0px 0px 40px;
}

.line{
    width: 135px;
    height: 1.5px;
    margin: 0px 0px 40px 40px
}


.form-control
{
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
}

.container-price{
    display: none;
    margin: 50px 0px 0px 0px;
}

.price-tag{
    font-size:14pt;
}

.totalPrice{
    font-size:30pt;
    color: #4005ab;
}

.btn2
{
    border-radius: 20px;
    letter-spacing: 1.2pt;
    font-size: 14pt;
    color: #4005ab;
    border-color:#4005ab;
    border-width: 1.5px;
    width: 150px;
    margin-right: 10px;
}

.btn2:hover
{
    background-color: #4005ab;
    border-color: #4005ab;
    color: white;
}

.btn3
{
    border-radius: 20px;
    letter-spacing: 1.2pt;
    font-size: 14pt;
    color: #4005ab;
    border-color: #4005ab;
    border-width: 1.5px;
    width: 150px;
}

.btn3:hover
{
    background-color:#4005ab;
    border-color:#4005ab;
    color: white;
}
