@font-face
{
    font-family: CircularMedium;
    src: url(font/CircularStd-Medium.otf); 
}

body
{
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-image: url("assets/home-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: CircularMedium;
    position: relative;
}

.container1
{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.logo
{
    width: 100px;
    height: 100%;
}

.header-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin: 0px 0px 0px 60px;
}

.nav-link{
    color: black;
}

.nav-link:hover
{
    color: #4005ab;     
}

.logo1
{
    width: 180px;
    height: 100%;
}

.text1
{
    font-size: 42pt;
    letter-spacing: 3px;
    word-spacing: 2px;
}

.footer-container
{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.nav-item
{
    padding: 10px 10px 0px 10px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 70px 0px 70px;
    height: 600px;
}

.about-text1{
    color: #4005ab;
    font-size: 24px;
}

.about-text2{
    font-size: 20px;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 10px 0px 10px;
}

.about{
    display: flex;
    margin: 40px 0px 0px 0px;
}

.about-logo{
    width: 60px;
    height: 60px;
    margin: 0px 10px 0px 10px;
}

.text-stroke{
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 45px;
    letter-spacing: 2pt;
    word-spacing: 2pt;
}

.line1
{
    width: 350px;
    height: 3px;
}

.line2
{
    width: 700px;
    height: 3px;
}

.line3
{
    width: 100px;
    height: 3px;
}

.container3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 70px 0px 70px;
    height: 600px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px 0px;
}

.service-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100px;
    font-size: 20px;
    color: white;
}

.service-rounded{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    width: 800px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.service-alpha{
    display: flex;

}

.contact-us
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4005ab;
    font-size: 36pt;
}

label{
    margin-right: 30px;
}

.form-detail
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px 0px 0px;
}

.form-control
{
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    
}

.form-control-detail
{
    border-color: black;
    border-width: 1.5px;
    height: 200px;
    width: 900px;
    border-radius: 10px;
    padding: 15px;
}

.container4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.btn
{
    border-radius: 20px;
    letter-spacing: 1.2pt;
}

.btn1
{
    font-size: 14pt;
    color: #4005ab;
    border-color: #4005ab;
    border-width: 1.5px;
    width: 150px;
}

.btn1:hover
{
    background-color: #4005ab;
    border-color: #4005ab;
    color: white;
}

.about-us{
    font-size: 22px;
    width: 1100px;
    text-align: right;
    line-height: 2.3;
    letter-spacing: 2px;
    color: #4005ab;
}

.btn2
{
    background-color: #000000;
    width: 150px;
}

.btn2:hover
{
    background-color: #4005ab;
    border-color: #4005ab;
    color: white;
}

.btn3
{
    height: 50px;
    width: 120px;
    background-color: #000000;
    border-color: #000000;
}

.btn3:hover
{
   background-color: #4005ab;
   border-color: #4005ab;
   color: white;
}

.btn-4{
    display: flex;
    margin: 40px 60px 0 0;
    flex-direction: row-reverse;
}

.form-btn{
    width: 900px;
    display: flex;
    flex-direction: row-reverse;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content
{
  display: flex;
  background-color: #fefefe;
  margin: auto;
  height: 160px;
  border: 1px solid #888;
  width: 50%;
}
  
.submitted-text
{
    text-align: center;
    padding: 0px;
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 24pt;
    font-weight: bold;
    text-align: right;
    margin: 10px 20px 0px 0px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }